header {
    width: 100%;
    display: flex;
    background-color: var(--primary);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    z-index: 2;
}

.logo {
    height: 4rem;
    width: 4rem;
    margin-left: 0.2rem;
}

.avatar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 3.65rem;
    width: 3.65rem;
    margin-right: 2rem;
}

.grayscale {
    filter: grayscale(1);
}