.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

table {
    background-color: #DFF6FF;
    border-radius: 0.3rem;
    border-spacing: 0.5rem;
    width: 30%;
    filter: drop-shadow(5px 5px 25px rgba(0, 0, 0, 0.32));
}

.table-header {
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

td {
    padding: 0.5rem;
}