.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

table {
    background-color: #DFF6FF;
    border-radius: 0.3rem;
    border-spacing: 0.5rem;
    min-width: 30%;
    box-shadow: 10px 10px 45px 0px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 10px 10px 45px 0px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 10px 10px 45px 0px rgba(0, 0, 0, 0.19);
}

.table-header {
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

td {
    padding: 0.5rem;
    text-align: center;
}